.red-on-hover:hover {
	color:red;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

.margin-bottom{
	margin-bottom: 25px;
}

span.comma-separator:last-child {
	display: none; 
}

.disabled-color {
	color: grey;
}